section aside {
  background-color: royalblue;
  width: 20%;
  height: 100vh;
  display: flex;
}
ul li {
  margin-left: 0.5em;
  padding: 1.5em;
  list-style-type: none;
  width: 100%;
}

ul li:hover {
  background-color: rgb(0, 64, 255);
  width: 100%;
}
ul li a {
  text-decoration: none;
  color: white;
}
