input {
  width: 95%;
  height: 2.5em;
  border: none;
  padding-left: 5%;
  background-color: #e8f0fe;
  color: rgb(5, 80, 192);
}

input:focus {
  outline-color: #e8f0fe;
}
.input span {
  font-size: 1em;
  color: white;
}
